 Test FRED Access

In [20]:
import requests
import json
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

fred_api_key = 'b121cc395b21e22273f7275e8c49a2d0'

fredRequestTemplate = 'https://api.stlouisfed.org/fred/series/observations?series_id=M2NS&api_key={}&file_type=json&observation_start=2008-01-01&frequency=m'

requestUrl = fredRequestTemplate.format(fred_api_key)

#print("Request : " + requestUrl)    
response = requests.get(requestUrl).text 
parsed = json.loads(response)
#print("Json : \n\n" + response)
df_m2 = pd.DataFrame(parsed['observations'])
df_m2['date'] = pd.to_datetime(df_m2['date'], yearfirst=True,format='ISO8601')
df_m2['value'] = pd.to_numeric(df_m2['value'], errors='coerce')

df_m2.set_index(['date'],inplace=True, verify_integrity = True, drop = True)
df_m2.sort_index(inplace=True)
df_m2.drop(columns=['realtime_start','realtime_end'], inplace=True)
df_m2

              value
date
2008-01-01   7502.6
2008-02-01   7585.2
2008-03-01   7719.2
2008-04-01   7767.6
2008-05-01   7709.1
...             ...
2023-07-01  20745.3
2023-08-01  20721.2
2023-09-01  20699.7
2023-10-01  20671.1
2023-11-01  20760.2

[191 rows x 1 columns]